<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/assets/home-button.png">
</head>
<body>
    <div class="text-center center-div mt-5" id="login" style="display: flex; justify-content: center; align-items: center;">
        <div class="container w-25 py mt-5"> 
            <h1 style="color: rgb(255, 255, 255);">Welcome to the Dashboard</h1>
            <h2 style="color: rgb(255, 255, 255);"><%= userid %></h2>
            <a  style="color: white;"   href="/logout"><h3>Logout</h3></a>
        </div>
        </div>
        
</body>
</html>